In [1]:
# 查看当前挂载的数据集目录, 该目录下的变更重启环境后会自动还原
# View dataset directory. 
# This directory will be recovered automatically after resetting environment. 
!ls /home/aistudio/data

data242605

In [2]:
# 查看工作区文件, 该目录下的变更将会持久保存. 请及时清理不必要的文件, 避免加载过慢.
# View personal work directory. 
# All changes under this directory will be kept even after reset. 
# Please clean unnecessary files in time to speed up environment loading. 
!ls /home/aistudio/work

In [3]:
# 如果需要进行持久化安装, 需要使用持久化路径, 如下方代码示例:
# If a persistence installation is required, 
# you need to use the persistence path as the following: 
!mkdir /home/aistudio/external-libraries
!pip install beautifulsoup4 -t /home/aistudio/external-libraries

mkdir: cannot create directory '/home/aistudio/external-libraries': File exists
Looking in indexes: https://mirror.baidu.com/pypi/simple/, https://mirrors.aliyun.com/pypi/simple/, https://pypi.tuna.tsinghua.edu.cn/simple/
Collecting beautifulsoup4
  Downloading https://mirrors.aliyun.com/pypi/packages/57/f4/a69c20ee4f660081a7dedb1ac57f29be9378e04edfcb90c526b923d4bebc/beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.0/143.0 kB 727.6 kB/s eta 0:00:00a 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading https://mirrors.aliyun.com/pypi/packages/4c/f3/038b302fdfbe3be7da016777069f26ceefe11a681055ea1f7817546508e3/soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.2 soupsieve-2.5
WARNING: Target directory /home/aistudio/external-libraries/beautifulsoup4-4.12.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /home/aistudio/external-libraries/bs4 already exists. Specify --upgrade to force replacement.
WARNING: Target directory /home/aistudio/external-libraries/soupsieve already exists. Specify --upgrade to force replacement.
WARNING: Target directory /home/aistudio/external-libraries/soupsieve-2.5.dist-info already exists. Specify --upgrade to force replacement.

In [4]:
# 同时添加如下代码, 这样每次环境(kernel)启动的时候只要运行下方代码即可: 
# Also add the following code, 
# so that every time the environment (kernel) starts, 
# just run the following code: 
import sys 
sys.path.append('/home/aistudio/external-libraries')

请点击[此处](https://ai.baidu.com/docs#/AIStudio_Project_Notebook/a38e5576)查看本环境基本用法.  <br>
Please click [here ](https://ai.baidu.com/docs#/AIStudio_Project_Notebook/a38e5576) for more detailed instructions.

In [5]:
pip install seaborn

Looking in indexes: https://mirror.baidu.com/pypi/simple/, https://mirrors.aliyun.com/pypi/simple/, https://pypi.tuna.tsinghua.edu.cn/simple/
Collecting seaborn
  Downloading https://mirrors.aliyun.com/pypi/packages/7b/e5/83fcd7e9db036c179e0352bfcd20f81d728197a16f883e7b90307a88e65e/seaborn-0.13.0-py3-none-any.whl (294 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.6/294.6 kB 1.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from seaborn) (1.25.1)
Requirement already satisfied: pandas>=1.2 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/python35-paddle120-env/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv(r'data/data242605/train.csv')

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [11]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
for i in ['PassengerId', 'Name', 'Ticket', 'Embarked', 'Pclass', 'Cabin']:
    df.drop(i, axis=1, inplace=True)

In [13]:
df.head()

   Survived     Sex   Age  SibSp  Parch     Fare
0         0    male  22.0      1      0   7.2500
1         1  female  38.0      1      0  71.2833
2         1  female  26.0      0      0   7.9250
3         1  female  35.0      1      0  53.1000
4         0    male  35.0      0      0   8.0500

In [15]:
df.dropna(inplace=True)

In [16]:
df.isnull().sum()

Survived    0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [17]:
df.head()

   Survived     Sex   Age  SibSp  Parch     Fare
0         0    male  22.0      1      0   7.2500
1         1  female  38.0      1      0  71.2833
2         1  female  26.0      0      0   7.9250
3         1  female  35.0      1      0  53.1000
4         0    male  35.0      0      0   8.0500

In [18]:
df = pd.get_dummies(df)

In [19]:
y = df['Survived']
x = df.drop('Survived', axis=1)

In [33]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=12)

In [38]:
x_train.info

<bound method DataFrame.info of       Age  SibSp  Parch      Fare  Sex_female  Sex_male
550  17.0      0      2  110.8833       False      True
43    3.0      1      2   41.5792        True     False
59   11.0      5      2   46.9000       False      True
802  11.0      1      2  120.0000       False      True
318  31.0      0      2  164.8667        True     False
..    ...    ...    ...       ...         ...       ...
805  31.0      0      0    7.7750       False      True
299  50.0      0      1  247.5208        True     False
316  24.0      1      0   26.0000        True     False
489   9.0      1      1   15.9000       False      True
835  39.0      1      1   83.1583        True     False

[571 rows x 6 columns]>

In [40]:
y_train.info

<bound method Series.info of 550    1
43     1
59     0
802    1
318    1
      ..
805    0
299    1
316    1
489    1
835    1
Name: Survived, Length: 571, dtype: int64>

In [47]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

def predict(ml_model):
    print("Model is: ", ml_model)
    
    model = ml_model.fit(x_train, y_train)
    
    print("Training score: ", model.score(x_train,y_train))
    
    predictions = model.predict(x_test)
    print("Predictions: ", predictions)
    print('-----------------')
    r2score = r2_score(y_test, predictions)
    print("r2 score is: ", r2score)
    
    print('MAE:{}', mean_absolute_error(y_test,predictions))
    print('MSE:{}', mean_squared_error(y_test,predictions))
    print('RMSE:{}', np.sqrt(mean_squared_error(y_test,predictions)))
    print('真实值和预测值的差值{}', y_test - predictions)

In [24]:
# 逻辑回归
from sklearn.linear_model import LogisticRegression   
# k近邻回归
from sklearn.neighbors import KNeighborsRegressor  
# 决策树回归
from sklearn.tree import DecisionTreeRegressor  
# 梯度提升回归，随机森林回归
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor

In [50]:
predict(RandomForestRegressor())

Model is:  RandomForestRegressor()
Training score:  0.8851757060694474
Predictions:  [0.2        0.02       0.09       0.19       0.61       0.03
 0.65       0.47       0.035      0.63       0.47       0.66
 0.85       0.         0.0175     1.         1.         0.53771429
 0.         0.92       0.04       0.38       1.         0.074
 0.93       0.05       0.95       0.47       1.         0.
 0.         0.87       0.29       0.         0.16       0.35
 0.12       0.42       0.16       1.         0.07       0.15
 0.9        0.         1.         0.15       0.06       0.23
 1.         0.03       0.07       0.05       0.         0.02142857
 0.18866667 0.08       0.7725     0.19183333 0.08908333 0.32
 0.09       0.7455     0.17333333 0.21       0.05       0.04
 0.57333333 1.         0.13994048 0.37       0.95       1.
 0.43       0.4        0.07       0.4        0.02       0.1
 0.12633333 0.32978571 0.99       0.00142857 0.02833333 0.96
 0.015      0.94       0.03       0.43       0.13       0.88
 0.51       0.97       0.06       0.0175     0.23       0.41
 0.99       0.99       0.21       1.         0.08       0.03
 0.33383333 0.29333333 0.82       0.         1.         0.08166667
 0.24       0.015      0.64       0.015      0.         0.06083333
 0.47       0.13       0.02       0.62       0.945      0.94
 0.57       0.75       0.35966667 0.91       0.45       1.
 0.03       0.44       0.12       0.6        0.01       0.54
 1.         1.         0.         0.59       0.         0.15
 1.         0.10333333 0.25       0.91       0.2       ]
-----------------
r2 score is:  0.44405425826754275
MAE:{} 0.23697985347985345
MSE:{} 0.13327038123979196
RMSE:{} 0.3650621607888059
真实值和预测值的差值{} 830    0.800000
478   -0.020000
12    -0.090000
625   -0.190000
690    0.390000
         ...
879    0.000000
146    0.896667
54    -0.250000
426    0.090000
142    0.800000
Name: Survived, Length: 143, dtype: float64